/* General body and text formatting */
html {
  scroll-behavior: smooth;
}
body {
  background-color: white;
  color: black;
  font-family: Lato, sans serif;
  padding: 20;
  margin: 20;
}


/* Some responsive design tweaks */
@media (min-width: 576px) {
  .wrapper {
    max-width: 576px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    max-width: 576px;
    margin: auto;
  }
}
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}


/* The real design tweaking */
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
h1 {
  text-align: center;
}
p {
}
.company-name {
  font-weight: bold;
  font-variant: small-caps;
}
.logo-container {
  min-width: 0;
  overflow: hidden;
  margin-top: 1em;
  margin-bottom: 1em;
}
.logo-container img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
div.contact-container {
  display: grid;
  grid-template-columns:  auto auto;
  gap: 20px;
}
div.contact {
  display: inline-grid;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
div.contact .name {
  font-weight: bold;
}
