/* General body and text formatting */
html {
  scroll-behavior: smooth;
}
body {
  background-color: white;
  color: black;
  font-family: Lato, sans serif;
  padding: 20;
  margin: 20;
}


/* Some responsive design tweaks */
@media (min-width: 576px) {
  .wrapper {
    max-width: 576px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    max-width: 576px;
    margin: auto;
  }
}
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}


/* The real design tweaking */
.wrapper {
}
h1 {
  text-align: center;
}
p {
}
.banner {
  display: flex;
  justify-content: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.center {
  text-align: center;
  margin: 1em;
}

.name {
  font-weight: bold;
}
.small-caps {
  font-variant: small-caps;
}
